@font-face
{
    font-family: 'museo-sans300';
    src: url('../res/fonts/museoSans/MuseoSans_300.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'museo-sans100';
    src: url('../res/fonts/museoSans/MuseoSans_100.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'museo-slab900';
    src: url('../res/fonts/museoSlab/Museo_Slab_900.otf');
    font-weight: normal;
    font-style: normal;
}

body 
{
    background-image: url('../images/pages/shared/background.png');
}

#mainCanvas 
{
    position:absolute;
    top:0px;
    left:0px;
}

#namePlate 
{
    position: absolute;
    top: 0px;
    left: 0;
    width: 1024px;
    height: 101px;
    background: url('../images/pages/shared/headerBg.png');
    z-index: 99;
    text-align: center;
    opacity:0.90;
    filter:alpha(opacity=90); /* For IE8 and earlier */
}

#namePlate_logoutDrawer
{
    position: absolute;
    top: 0px;
    left: -110px;
    width: 140px;
    height: 90px;
    z-index: 99;
    display: none;
}

#namePlate_title
{
    position: absolute;
    left: 142px;
    top: 5px;
    font-family: 'museo-sans100';
    font-size: 50pt;
    font-style: bold;
}

#namePlate_nameplateIcon
{
    position: absolute;
    left: 60px;
    top: 10px;
    height: 68px;
    width : 68px;
}

#namePlate_closeButton
{
    position: absolute;
    right: 15px;
    top: 10px;
    height: 68px;
    width : 68px;
    display: none;
}

#themePicker
{
    position: absolute;
    top: -110px;
    left: 750px;
    z-index:999;
    display: none;
}